body {
  background-color: royalblue;
  font-family: "Segoe UI", Arial, sans-serif;
  color: lightgray;
  margin: 0;
}

.face {
  font-size: 105px;
  margin: 20px;
  text-align: left;
}

.container {
  padding: 40px;
}

.big-text {
  font-size: 27px;
}

.code {
  font-size: 21px;
}

.small-text {
  font-size: 15px;
}